* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 18px;
}
.box {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    align-self: center;
    font-weight: bold;
    font-size: 2em;
}
.jumbo {
    width: 100%;
    height: 700px;
    background-image: url(../img/blog_jumbo.jpg);
    background-position: center;
    background-size: cover;
}
.my_container {
    padding: 30px;
}
.box_post {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ddd;
}
.post_img {
    object-fit: cover;
    max-height: 300px;
    max-width: 400px;
}
.post_img img {
    width: 100%;
    height: 100%;
}
.post_text {
    padding: 20px;
}
.post_text_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author {
    display: flex;
    align-items: center;
}
.author .icon {
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}
.post_text_bottom {
    display: flex;
    flex-direction: column;
}
.post_content {
    margin: 10px 0;
}
.button {
    display: flex;
    justify-content: center;
}
.button form {
    margin-left: 20px;
}
footer {
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
    line-height: 70px;
    color: lightgray;
}